body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 1.13rem;
  color: #35373a;
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

p {
  font-family: Georgia,Times,serif;
  font-weight: 400;
  font-size: 1.25rem;
  margin: 0 0 1rem 0;
}

@media screen and (max-width:600px){
  p {
      font-size:18px;
  }  
}

p a {
  color: #FF1A75;
  text-decoration: underline;
}

a {
  color: #2b6fd2;
  text-decoration: none;
}

a:hover {
  color: #555;
}

h1, h2, h3, h4, h5, h6 {
  letter-spacing: -0.014em;
}

h1 {font-size: 2.8rem; line-height: 1.1; padding: 0 0 5px 0;}

@media screen and (max-width:600px){
  h1{
      font-size:28px;
      padding: 0;
  }  
}

h2 {font-size: 1.63rem; line-height: 1.2; color:#000}
h3 {font-size: 1.47rem; line-height: 1.3; color:#000}
h4 {font-size: 1.26rem; line-height: 1.4;}



main {
  flex-grow: 1;
}

img {
  max-width: 100%;
}

pre {
  overflow-x: auto;
  border: 0.1rem solid lightgray;
  padding: 1rem;
}

code {
  font-family: SFMono-Regular, Consolas, "Liberation Mono", Menlo, Courier, monospace;
  color: #D81B60;
}

.Banner {
  list-style: none;
  display: flex;
  flex-flow: row-reverse wrap-reverse;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  
}

{{ $len := len site.Menus.nav }}
{{ range seq $len }}

  .Banner-item:nth-child({{ . }}) {
    order: {{ sub $len . | add 1 }};
  }

{{ end }}

.Banner-item--title {
  flex-grow: 1;
}

.Banner-link {
  font-size: 1.0rem;
  color: #fff;
  padding: 0.5rem 1rem;
}

.Heading {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
  margin: 0 0 1.5rem 0;
}

.Heading-title {
  margin: 2rem 0.5rem 0 0;
}

.Heading-link {
  color: #000;
}

.Tags {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1.5rem 0;
  padding: 0;
  font-size: 0.9rem;
}

.Tags-item {
  border-radius: 0.3rem;
  margin: 0.2rem;
  padding: 0 .5rem;
}

.Tags-link {
  color: #fff;
}

{{ with site.Params.divider }}

  .Divider {
    display: flex;
    justify-content: center;
  }

  .Divider::after {
    content: "{{ . }}";
  }

{{ end }}

.Pagination {
  font-size: 1.25rem;
  color: inherit;
}

.Pagination--right {
  float: right;
}

.Footer {
  text-align: center;
  margin: 1rem 0;
}

.u-wrapper {
  {{ with site.Params.width }}max-width: {{ . }};{{ end }}
  margin: auto;
}

.nav-background {
  background: #FF1A75;
}

.u-padding {
  padding: 0 1rem;
}

.u-background {
  background: #e83e3e;
}

.u-clickable {
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
}

table, th, td {
  font-size: 1.23rem;
  border: 1px solid #ccc;
  border-collapse: collapse;
  padding: 0.2rem 0.5rem;
  margin: 0 0 1rem;
}

th {
  background-color: #f0f0f0;
}

.alert {
  position: relative;
  font-size: 1.23rem;
  padding: 0.4rem .8rem 0;
  margin: 1rem 0;
  border: 1px solid transparent;
  border-radius: 8px;
}

.bluebox {
  background-color: #eaf4ff;
  border-color: #c0ddfd;

}
.pinkbox {
  background-color: #fbedee;
  border-color: #fcdee0;
}

.yellowbox {
  background-color: #fff9e8;
  border-color: #ffefbf;
}

.greenbox {
  background-color: #ebfbef;
  border-color: #d1f0d8;
}

.map {
  position: relative;
  overflow: hidden;
  width: 100%;
  margin-bottom: 1em;
}

.map::after {
  display: block;
  content: "";
  padding-top: 56.25%;
}

.map iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.postmeta {
  font-size: 0.9rem;
  color:#666;
  margin: 10px 0;
}

figcaption {
  font-size: 0.9rem;
  color: #666;
  line-height: 1.4;
  margin: -1rem 0 0 0;
}

hr {
  border-top: 1px;
}