{{ define "main" }}
{{ if .Parent.IsHome }}
{{ $.Scratch.Set "blog-pages" (where .Site.RegularPages "Section" .Section) }}
{{ else }}
{{$.Scratch.Set "blog-pages" .Pages }}
{{ end }}
{{ $pag := .Paginate (( $.Scratch.Get "blog-pages").GroupByDate "2006")}}
{{ $pageGroups := $pag.PageGroups}}
{{ if eq $pag.PageNumber 1 }}
{{ end }}
<div class="row">
	<div class="col-12">
	<h3>Blog</h3>
		{{ range $pageGroups }}
		<ul class="list-unstyled mt-4">
			{{ range .Pages }}
			<li class="media mb-4">
				<div class="td-content">
					<h1 class="mt-0 mb-1"><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h1>
	                <div class="td-byline mb-4">
		            {{ with .Params.author }}{{ T "post_byline_by" }} <b>{{ . | markdownify }}</b> |{{ end}}
					<span class="text-muted">{{ .Date.Format ($.Param "time_format_blog") }}</span>
<!--		            <time datetime="{{  $.Date.Format "2006-01-02" }}" class="text-muted">{{ $.Date.Format $.Site.Params.time_format_blog }}</time> -->
	                </div>
	                {{ .Content }}	
				</div>
			</li>
			{{ end }}
		</ul>
		{{ end }}
	</div>
</div>
<div class="row pl-2 pt-2">
	<div class="col">
		{{ template "_internal/pagination.html" . }}
	</div>
</div>
{{ end }}