<header class="Heading">
               
<span class="article-category">
  {{ range (.GetTerms "kanji_radical") }}<a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>{{ end }}
  {{ range (.GetTerms "kanji_strokes") }}<a href="{{ .RelPermalink }}">{{ .LinkTitle }}-guhit</a>{{ end }}
  {{ range (.GetTerms "kanji_grade") }}<a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>{{ end }}
  {{ range (.GetTerms "kanji_class") }}<a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>{{ end }}
  {{ range (.GetTerms "kanji_jlpt") }}<a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>{{ end }}               
  {{ with .Params.frequency }}<a href="/kanji_frequency/">FREQ{{ . }}</a>{{ end }}</span>

<h1 class="Heading-title"><span itemprop="name">{{ .Title }} {{ range .Page.Params.kanji_meaning }}{{ . }}{{ end }}</span></h1>

</header>